group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Saturn
    nuget Fable.Remoting.Giraffe 

group Db
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget SQLProvider 
    nuget Npgsql  3.2.5
    nuget System.Threading.Tasks.Extensions  4.4.0

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Fable.Remoting.Client ~> 2.5.1
    nuget Fulma

    clitool dotnet-fable

group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    clitool dotnet-fake

    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget NETStandard.Library.NETFramework
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.Core.ReleaseNotes
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git

